.divBlue {
  width: 290px;
  height: 12px;
  transform: rotate(-23deg);
  position: relative;
  top: 250px;
  left: 90px;
  border-radius: 5px;
}
.blue {
  background-color: rgb(59, 149, 233);
}
.image_container {
  width: 400px;
}
.image_test {
  width: 100%;
}
